

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* sharad style */
.text-primary{
    color: orangered;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: orangered;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;

}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
}

nav ul{
    display: flex
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    font-size: 20px;
}